(
    mapstring: [
        "##################################################",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#................................................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................~!.......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#........................~.......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................   ......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "#.......................###......................#",
        "##################################################",
    ],
    tiledict: {
        '.': (
            kind: "floor",
            opaque: false,
            access: [
                Fly,
                Walk,
            ],
        ),
        ' ': (
            kind: "chasm",
            opaque: false,
            access: [
                Fly,
            ],
        ),
        '!': (
            kind: "lava",
            opaque: false,
            access: [
                Fly,
            ],
        ),
        '#': (
            kind: "wall",
            opaque: true,
            access: [],
        ),
        '~': (
            kind: "water",
            opaque: false,
            access: [
                Fly,
                Swim,
            ],
        ),
    },
)